<div class="bar">
    <div class="container">
        <ul class="nav nav-tabs">
            <form class="navbar-form navbar-right" action="/action_page.php">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn " type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <li><a href="/" id="all_tab">All</a></li>
            <li><a href="/general/p/1" id="general_tab">General</a></li>
            <li><a href="/network/p/1" id="network_tab">Network Devices</a></li>
            <li><a href="/stationary/p/1" id="stationary_tab">Stationary</a></li>
            <li><a href="/kitchenware/p/1" id="kitchenware_tab">Kitchenware</a></li>
        </ul>
    </div>
</div>