<%if(error && error.length>0){%>
<div class="container" style="margin-top:60px; z-index:100;">
    <div class="alert alert-danger" role="alert">
        <%=error%>
    </div>
</div>
<%}%>
<%if(success && success.length>0){%>
<div class="container" style="margin-top:60px; z-index:100;">
    <div class="alert alert-success" role="alert">
        <%=success%>
    </div>
</div>
<%}%>