<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">LabStock</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <%if(!currentUser){%>
                        <li><a href="#home" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                        <li><a href="/register"><span class="glyphicon glyphicon-edit"></span>Register</a></li>
                    <%}else{%>
                        <li><a href="#tour"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                        <li><a href="/editInfo/<%=currentUser._id%>"><%=currentUser.username%></a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>