html,body{
    height: 100%;
}
body{
    background: #dbdbdb;
    height: 100%;
    padding-top: 50px;
}
.center-cropped {
    margin: auto;
    width: 300px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .center-cropped img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=1);
    /* modern browsers */
  }
#wrapper{
    min-height: 100%;
    position: relative;
}
#content{
    padding-bottom: 60px;
}
h1{
    color: #f79400;
    font-size: 50px
}
.nav-tabs{
    background-color: #030027;
    border-bottom: 1px solid #000;
}
.bar{
    background-color: #030027;
}
ul.nav.nav-tabs{
    height: 100%;
}
.alert-danger{
    font-size: 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #090c30;
    display: block;

}
.footer span{
    color: rgb(250, 250, 250);
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 70px;
    padding-left: 70px;
    width: 90%;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: rgb(31, 11, 11) !important;
}

/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #fdc900;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 4px;
   
}

/* Add a gray color to all navbar links */
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
}
.navbar li a,
.navbar .navbar-brand {
    color: #1b1b1b !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: rgb(255, 255, 255) !important;
}
.navbar-nav li:hover{
    background-color: #030027

}
/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #030027 !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff;
    background-color: #030027 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: #f79400 !important;
}


@media (max-width: 10000px) {
    .carousel-caption {
        display: none !important;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/* Set gray background color and 100% height */
.row.content {
    height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    position: relative;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

.nav-tabs {
    padding-top: 1%;
}
.nav-tabs>li>a {
    color:rgb(216, 216, 216);
}

.nav-tabs>li>a:hover {
    background-color:#fdc900;
    color: navy;
}

.nav-tabs>li>a.Active {
    background-color:#fdc900;
    color: navy;
}

.navbar-form {
    margin-top: 0%;
}

.registerform{
    padding:2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:2%;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
    -webkit-box-shadow: 10px 10px 31px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 31px -6px rgba(0,0,0,0.55);
    box-shadow: 10px 10px 31px -6px rgba(0,0,0,0.55);
}