<% include ./partials/header%>
<link rel="stylesheet" type="text/css" href="/stylesheet/testall.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/tump-btn.css">
<link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <div id="content">
            <%include ./partials/navbar%>
            <%if(error && error.length>0){%>
            <div class="container" style="margin-top:60px; margin-bottom: 1px">
                <div class="alert alert-danger" role="alert">
                    <%=error%>
                </div>
            </div>
            <%}%>
            <%if(success && success.length>0){%>
            <div class="container" style="margin-top:60px; margin-bottom: 1px">
                <div class="alert alert-success" role="alert">
                    <%=success%>
                </div>
            </div>
            <%}%>

            <!------ Include the above in your HEAD tag ---------->
            <div class="container">
                <div class="row">
                    <div class="registerform">
                        <form class="form-horizontal" action="/register" method="POST">
                            <fieldset>

                                <!-- Form Name -->
                                <legend>
                                    <h1> Register</h1>
                                </legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Name">Username</label>
                                    <div class="col-md-5">
                                        <input id="Name" name="username" type="text" placeholder="username" class="form-control input-md"
                                            required="">
                                    </div>
                                </div>
                                <!-- Password input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="passwordinput">Password</label>
                                    <div class="col-md-5">
                                        <input id="passwordinput" name="password" type="password" placeholder="password"
                                            class="form-control input-md" required="">
                                    </div>
                                </div>
                                <!-- Password input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="confirm_password">Confirm Password
                                    </label>
                                    <div class="col-md-5">
                                        <input id="confirm_password" name="confirm_password" type="password"
                                            placeholder="Re-type password" class="form-control input-md" required="">
                                    </div>
                                </div>

                                <!-- name -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Name</label>
                                    <div class="col-md-5">
                                        <input id="name" name="name" type="name" placeholder="Somsak" class="form-control input-md"
                                            required="">
                                    </div>
                                </div>

                                <!-- surname -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="surname">Surname</label>
                                    <div class="col-md-5">
                                        <input id="surname" name="surname" type="surname" placeholder="Jirakul" class="form-control input-md"
                                            required="">
                                    </div>
                                </div>

                                <!-- ST-ID input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="Studen ID">Studen ID</label>
                                    <div class="col-md-5">
                                        <input id="Studen_ID" name="studentID" type="Studen_ID" placeholder="Studen ID"
                                            class="form-control input-md" required="">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="mobilenumber">Mobile Number</label>
                                    <div class="col-md-5">
                                        <input id="mobilenumber" name="tel" type="text" placeholder="Mobile Number"
                                            class="form-control input-md" required="">
                                    </div>
                                </div>

                                <!-- line ID input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="lineID">Line ID</label>
                                    <div class="col-md-5">
                                        <input id="lineID" name="lineID" type="text" placeholder="Line ID" class="form-control input-md"
                                            required="">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="emailId">Email</label>
                                    <div class="col-md-5">
                                        <input id="emailId" name="email" type="text" placeholder="user@domain.com"
                                            class="form-control input-md" required="">
                                    </div>
                                </div>

                                <!-- Textarea -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="address">Address</label>
                                    <div class="col-md-4">
                                        <textarea class="form-control" id="address" name="address"></textarea>
                                    </div>
                                </div>
                                <%if(currentUser&&currentUser.role=="admin"){%>
                                <input name="role" value="member" hidden>
                                <%}%>
                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="submit"></label>
                                    <div class="col-md-4">
                                        <button id="submit" name="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <% include ./partials/modalLogin %>
        </div>
        <% include ./partials/footer %>
    </div>
</body>

</html>